/* MAIN SECTIONS */

.landing {
    margin: 0 auto;
    padding: 30px;
    background-color: whitesmoke;
}

.landing p {
    width: 80%;
    margin: 0 auto;
}

.info .flex-container {
    height: 300px;
    padding: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-image: url('../Images/concert-image-2.jpg');
    background-position: center;
}

.info .flex-item {
    border: solid;
    width: 30%;
    background-color: whitesmoke; 
}

.info .flex-item p {
    margin: 40px;
}  

.signup .flex-container {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.signup .flex-item-left, .signup .flex-item-right {
    width: 100%;
    position: relative; 
    text-align: center;
    background-color: #ffe433;
}

.signup .content, .signup h2 {
    /* height: 100%; */
    margin: 0;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.signup .flex-item-right {
    border-left: solid;
}

/* MEDIA QUERIES */

@media all and (max-width: 600px) {

    .landing {
        padding: 20px;
        /* margin-top: 10px; */
    }

    .landing h1 {
        margin: 0 0 10px 0; 
        padding: 5px;
    }
    
    .info {
        width: 100%;
        margin: 0 auto;
        background-color: white;
    } 

    .info .flex-container {
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 95%;
        margin: 0 auto;
        padding: 10px; 
    }

    .info .flex-container .flex-item {
        width: 100%;
        margin: 5px;
    }
    
    .signup .flex-container {
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #ffe433;
    } 
}