/* MAIN SECTIONS */

.profile-header img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: solid;
}

.profile-header h4, .profile-header p {
    width: 40%;
}

.profile-container button {
    margin: 10px;
}

.profile-info p {
    padding: 10px 0 10px 0;
}