/* HEADER */

header {
    /* margin: 20px; */
    padding: 20px;
    border-bottom: solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
} 

header h2 {
    display: inline; 
    /* border: solid;
    border-color: red; */
    margin: 10px;
    padding: 40px;
}

nav {
    /* border: solid;
    border-color: green; */
    width: 20%;
    text-align: center; 
    float: right; 
    display: inline; 
    margin-right: 50px;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: inline; 
    /* border: solid;
    border-color: pink; */
    /* margin: 0 auto; */
    /* float: right; */
}

nav ul li {
    margin: 10px;
    /* border: solid; */
    display: inline;
}

/* MAIN */

main {
    background-color: blanchedalmond;
    margin: 70px 0 0 0; 
}

.login-form {
    text-align: center;
    height: 500px;
} 

.login-form h1 {
    margin: 0 auto;
    padding: 20px;
}

.login-form form {
    background-color: white;
    margin: 0 auto;
    border: solid; 
    text-align: right; 
    width: 25%;
    padding: 10px;
}

.login-form label, .login-form input {
    margin: 8px;
}

.login-form button {
    margin-right: 6px;
}

/* FOOTER */

footer {
    height: 30px;
}

footer span {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}

/* MEDIA QUERY FOR IPHONE */

@media all and (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    header { 
        width: 89%;
        display: block;
        text-align: center; 
        height: 90px;
        margin: 0 auto;
        position: static;
    }

    nav {
        /* display: block; */
        /* border: solid; 
        border-color: blue; */
        width: 100%;
        margin: 0 auto; 
        
    }

    nav ul {
        display: block;
        /* border: solid; 
        border-color: green; */
        width: 80%;
        text-align: center; 
        margin: 0 auto; 
    }

    nav ul li {
        display: block;
        /* margin: 0 50px 0 0; */ 
        margin: 0 auto; 
        /*width: 20%;
        border: solid;
        border-color: pink;*/
        padding: 2px;
    }
    
    main {
        margin-top: -10px;
    }
    
    .login-form form {
        width: 80%;
    }

    .login-form button {
        margin-right: 6px;
    }
}