/* HEADER */

header {
    /* margin: 20px; */
    /*padding: 20px; */
    border-bottom: solid;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: white; 
    height: 35px; /* was 35 */ 
} 

header h2 {
    display: inline-block; 
    margin: 0 auto; 
    margin-left: 20px;
    padding: 0px; 
}

header h2 a {
    color: black;
    text-decoration: none;
}

header h2 a:hover {
    text-decoration: underline;
}

header button h2:hover {
    text-decoration: underline;
}

nav {
    /* border: solid;
    border-color: green; */
    width: 80%;
    text-align: center; 
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* margin-right: 50px; */
    /* padding: 5px; */ 
}

nav ul {
    list-style-type: none;
    display: flex; 
    justify-content: flex-end;
    margin: 0 auto;
    /* border: solid;
    border-color: pink; */
    text-align: center;
}

nav ul li {
    /* margin: 0 auto; 
    margin-right: 50px; */
    padding: 0;
    /* border: solid; 
    border-color: blue; */
    display: inline; 
    margin-right: 60px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul .about-link {
    /*border: solid;
    border-color: red; */
    padding-top: 11px;
}

/*
nav ul .avatar {
    border: solid; 
    border-color: green;
} */


/* MAIN */

main {
    background-color: blanchedalmond;
    margin: 70px 0 0 0; 
}

.login-form {
    text-align: center;
    height: 500px;
} 

.login-form h1 {
    margin: 0 auto;
    padding-bottom: 20px; 
    padding-top: 50px;
}

.login-form form {
    background-color: white;
    margin: 0 auto;
    border: solid; 
    text-align: right; 
    width: 25%;
    padding: 10px;
}

.login-form label, .login-form input {
    margin: 8px;
}

.login-form button {
    margin-right: 6px;
}

/* FOOTER */

footer {
    height: 30px;
}

footer span {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}

/* MEDIA QUERY FOR IPHONE */

@media all and (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    main {
        margin: 0 auto;
    }

    .landing-header {
        height: 130px;
    }

    header { 
        width: 100%;
        display: block;
        text-align: center; 
        height: auto; /* 170 */
        margin: 0 auto;
        position: static; 
        padding: 0;
    } 

    header h2 {
        margin: 0 auto;
        display: block;
        border: none;
        padding: 10px;
        margin-top: 20px;
        position: static;
        top: 0;
        transform: unset; 
    }

    nav {
        display: block; 
        margin: 0 auto; 
        padding: 0;
        position: static;
        top: 0;
        transform: unset; 
        /* width: 100%; */
    }

    nav ul {
        display: block;
       /* width: 100%; /* 100px */
        height: auto;
        text-align: center;  
        margin: 0 auto; 
        padding-inline-start: 0;
    }

    nav ul li {
        display: block;
        margin: 0 auto; 
        /* width: 50%;  */
        padding: 8px; 
    }

    nav ul .about-link {
        padding-top: 0;
    }
    /*
    main {
        margin-top: -10px;
    } */
    
    .login-form form {
        width: 80%;
    }

    .login-form button {
        margin-right: 6px;
    }
}

/* MEDIA QUERY FOR TABLETS */

@media all and (min-width: 600px) and (max-width: 850px) {
    header ul {
        width: 77%;
    }
    
    main {
        height: 900px;
    }

    nav .dropdown-container {
        /* border: solid; */
        position: absolute;
        margin-top: 0px;
        margin-left: 450px;
        background-color: white;
        width: 130px;
    }

    .about-container {
        height: 550px;
    }

    .signup .flex-container {
        height: 360px;
    }
}