@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
    border-bottom: solid;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #ffe433; 
    height: 35px; 
    padding: 20px;
} 

header h2 {
    display: inline-block; 
    margin: 0 auto; 
    margin-left: 20px;
    padding: 0px; 
    font-family: 'Pacifico', cursive;
}

header h2 a {
    color: black;
    text-decoration: none;
}

header h2 a:hover {
    text-decoration: underline;
}

header button h2:hover {
    text-decoration: underline;
}

nav {
    width: 80%;
    text-align: center; 
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    list-style-type: none;
    display: flex; 
    justify-content: flex-end;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

nav ul li {
    padding-left: 50px;
    margin-right: 47px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul .about-link {
    padding-top: 11px;
}

/* MAIN */

main {
    background-color: whitesmoke;
    margin: 70px 0 0 0; 
    text-align: center;
}

.login-form {
    text-align: center;
    height: 580px;
} 

.login-form h1 {
    margin: 0 auto;
    padding-bottom: 20px; 
    padding-top: 50px;
}

.login-form form {
    background-color: white;
    margin: 0 auto;
    border: solid; 
    text-align: right; 
    width: 28%;
    padding: 10px;
}

.login-form label, .login-form input {
    margin: 8px; 
}

.login-form .password-break {
    display: none;
}

.login-form button {
    margin-right: 6px;
}

/* FOOTER */

footer {
    height: 40px;
    background-color: whitesmoke;
    margin: 0 auto;
    border-top: solid;
    border-width: thin;
}

footer span {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}

/* MEDIA QUERY FOR IPHONE */

@media all and (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    main {
        margin: 0 auto;
    }

    main .search-container-results {
        padding-bottom: 0;
    }

    .landing-header {
        height: 150px;
    }

    header { 
        width: 100%;
        display: block;
        text-align: center; 
        height: auto; 
        margin: 0 auto;
        position: static; 
        padding: 0;
    } 

    header h2 {
        margin: 0 auto;
        display: block;
        border: none;
        padding: 10px;
        padding-top: 20px;
        margin-top: 0px;
        position: static;
        top: 0;
        transform: unset; 
    }

    nav {
        display: block; 
        margin: 0 auto; 
        padding: 0;
        position: static;
        top: 0;
        transform: unset; 
    }

    nav ul {
        display: block;
        height: auto;
        text-align: center;  
        margin: 0 auto; 
        padding-inline-start: 0;
        width: 80%;
    }

    nav ul li {
        display: block;
        margin: 0 auto; 
        padding: 8px; 
    }

    nav ul .about-link {
        padding-top: 0;
    }
    
    .login-form form {
        width: 80%;
        text-align: center;
    }

    .login-form .password-break {
        display: inherit;
    }

    .login-form button {
        margin-right: 6px;
    }
}

/* MEDIA QUERY FOR TABLETS */

@media all and (min-width: 600px) and (max-width: 850px) {
    header ul {
        width: 77%;
    }

    main .landing {
        padding-bottom: 90px;
    }

    nav .dropdown-container {
        /* border: solid; */
        position: absolute;
        margin-top: 40px;
        margin-right: 11px;
        background-color: #ffe433;
        width: 130px;
    }

    nav ul li {
        margin-right: 58px;
    }

    .signup img {
        height: 35px;
        width: 35px;
        margin-top: 250px;
    } 

    .about-container, .login-form, .signup-form, .profile {
        height: 1100px; /* 915 */
    }

    .signup .flex-container {
        height: 320px;
    }

    .container .search-container {
        height: 915px;
    }
    
    .search-results-container {
        padding-bottom: 333px;
    }
}

/* MEDIA QUERY FOR DESKTOP */

@media all and (min-height: 900px) {
    .landing {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .about-container {
        height: 1000px;
    }

    .login-form {
        height: 1000px;
    }

    .signup-form {
        height: 1000px;
    }

    main .search-container {
        height: 1000px;
    }

    .search-results-container {
        padding-bottom: 400px;
    }

    .profile-header {
        padding-bottom: 100px;
    }

    .profile-info {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}