/* HEADER */

header {
    /* margin: 20px; */
    padding: 20px; 
    /* height: 30px; */
    border-bottom: solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
} 


header button {
    border: none; 
    background-color: inherit; 
    outline: inherit;
    padding: 0;
    margin: 0;
    font-size: 1em;  
    transition: ease; 
    transition-delay: 5s;
} 

header button:hover {
    text-decoration: underline;
}

nav {
    /* border: solid;
    border-color: green; */
    width: 20%;
    text-align: center; 
    /* float: right; 
    display: inline; 
    margin-right: 50px; */
}

nav ul {
    list-style-type: none;
    display: inline; 
    /* float: right; */
}

nav ul li {
    /* margin: 10px; */
    padding: 20px;
    /* border: solid; */
    display: inline;
}

nav ul li img {
    margin: 0 auto;
    border-radius: 50%; 
    border: solid;
    border-width: 2px;
    width: 30px;
    height: 30px; /* most likely an issue with padding */
} 

nav .dropdown-container {
    /* border: solid; */
    position: absolute; /* absolute*/
    margin-top: 0px;
    margin-left: 910px; 
    background-color: #ffe433;
    width: 130px;
}

nav .dropdown-container .triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin: 0 auto;
}

nav .dropdown-container .dropdown {
    border: solid;
}

nav .dropdown button {
    border-top: solid;
    width: 100%;
}

nav .dropdown a {
    color: black;
    text-decoration: none;
}

nav .dropdown button, nav .dropdown a {
    line-height: 40px;
}

nav .dropdown a:hover {
    text-decoration: underline;
}

/* MAIN SECTIONS */

main {
    text-align: center;
    /* margin: 0 auto; 
    margin: 100px 0 0 0;  */
}

main .search-container {
    margin: 0 auto;
    /* margin-top: 70px; */
    width: 90%;
    background-color: whitesmoke;
    height: 580px;
    /* border: solid; */
}

main .search-container h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
}

label, select {
    margin: 5px;
}

footer {
    height: 30px;
}

footer span {
    display: inline-block; 
    padding: 10px;
    margin-left: 5px;
}

/* MEDIA QUERY */

@media all and (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    header { 
        width: 89%;
        display: block;
        text-align: center; 
        height: 90px; /* 90 */
        margin: 0 auto;
        position: static;
    }

    nav {
        /* display: block; */
        /* border: solid; 
        border-color: blue; */
        width: 100%;
        margin: 0 auto; 
        
    }

    nav ul {
        display: block;
        /* border: solid; 
        border-color: green; */
        width: 80%;
        text-align: center; 
        margin: 0 auto; 
    }

    nav ul li {
        display: block;
        /* margin: 0 50px 0 0; */ 
        margin: 0 auto; 
        /*width: 20%;
        border: solid;
        border-color: pink;*/
        padding: 2px;
    }

    nav .dropdown-container {
        position: static; /* absolute*/
        width: 100%; 
        margin: 0 auto;
        /* margin-left: 106px; /* 106px */
    }

    nav .dropdown-container .dropdown {
        width: 100%;
    }

    nav .dropdown {
        background-color: whitesmoke;
    }

    nav .dropdown button, nav .dropdown a {
        line-height: 40px;
    }

    /*
    nav .dropdown-container .dropdown {
        width: 100%;
    } */

    nav .dropdown button {
        border-top: solid;
        width: 100%;
    }

    main {
        margin-top: 20px;
    }
    /*
    main .container {
        margin-top: 10px;
    } */

    .search-container {
        width: 90%;
    }
    
}