/* HEADER */

header button {
    border: none; 
    background-color: inherit; 
    outline: inherit;
    padding: 0;
    margin: 0;
    font-size: 1em;  
    transition: ease; 
    transition-delay: 5s;
} 

header button:hover {
    text-decoration: underline;
}

nav ul li img {
    margin: 0 auto;
    border-radius: 50%; 
    border: solid;
    border-width: 2px;
    width: 30px;
    height: 30px; 
} 

nav .dropdown-container {
    position: absolute; /* absolute*/
    margin-top: 40px;
    margin-left: 40px;
    background-color: #ffe433;
    width: 130px;
}

nav .dropdown-container .triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin: 0 auto;
}

nav .dropdown-container .dropdown {
    border: solid;
}

nav .dropdown button {
    border-top: solid;
    width: 100%;
}

nav .dropdown a {
    color: black;
    text-decoration: none;
}

nav .dropdown button, nav .dropdown a {
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}

nav .dropdown a:hover {
    text-decoration: underline;
}

/* MAIN SECTIONS */

main .search-container {
    margin: 0 auto;
    /* margin-top: 70px; */
    width: 90%;
    background-color: whitesmoke;
    height: 580px;
    /* border: solid; */
}

main .search-container h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
}

label, select {
    margin: 5px;
}

/* MEDIA QUERY */

@media all and (max-width: 600px) {

    nav .dropdown-container {
        position: static; /* absolute*/
        width: 100%; 
        margin: 0 auto;
        /* margin-left: 106px; /* 106px */
    }

    nav .dropdown-container .dropdown {
        width: 100%;
    }

    nav .dropdown {
        background-color: whitesmoke;
    }

    nav .dropdown button, nav .dropdown a {
        line-height: 40px;
    }

    nav .dropdown button {
        border-top: solid;
        width: 100%;
    }
    
}