/* MAIN SECTION */

.about-container {
    margin: 0 auto;
    width: 90%;
    background-color: whitesmoke;
    height: 580px;
}

.about-container h1 {
    padding-top: 50px;
}

.about-container p {
    width: 40%;
    margin: 0 auto;
    line-height: 2;
}

/* FOOTER */

/* MEDIA QUERIES */

@media all and (max-width: 600px) {

    .about-container {
        height: 650px;
    }

    .about-container h1 {
        padding-top: 50px;
        padding-bottom: 20px;
        margin: 0 auto;
    } 

    .about-container p {
        width: 75%;
    }
}