/* HEADER */

header {
    /* margin: 20px; */
    /* padding: 20px; */
    border-bottom: solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
} 

header h2 {
    display: inline; 
    /* border: solid;
    border-color: red; */
    margin: 10px;
    padding: 40px;
}

nav {
    /* border: solid;
    border-color: green; */
    width: 20%;
    text-align: center; 
    /* float: right; */
    display: inline; 
    /* margin-right: 50px; */
    /* padding: 5px; */
}

nav ul {
    list-style-type: none;
    display: inline; 
    /* border: solid;
    border-color: pink; */
    /* margin: 0 auto; */
    /* float: right; */
}

nav ul li {
    /* border: solid; */
    display: inline;
}

/* MAIN SECTION */

main {
    margin: 100px 0 0 0;
    text-align: center;
}

.about-container {
    margin: 0 auto;
    width: 90%;
    background-color: blanchedalmond;
    height: 500px;
}

.about-container h1 {
    padding-top: 50px;
}

.about-container p {
    width: 40%;
    margin: 0 auto;
    line-height: 2;
}

/* FOOTER */

footer {
    height: 30px;
}

footer span {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}

/* MEDIA QUERIES */

@media all and (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    header { 
        width: 89%;
        display: block;
        text-align: center; 
        height: 90px;
        margin: 0 auto;
        position: static;
    }

    nav {
        /* display: block; */
        /* border: solid; 
        border-color: blue; */
        width: 100%;
        margin: 0 auto; 
        
    }

    nav ul {
        display: block;
        /* border: solid; 
        border-color: green; */
        width: 80%;
        text-align: center; 
        margin: 0 auto; 
    }

    nav ul li {
        display: block;
        /* margin: 0 50px 0 0; */ 
        margin: 0 auto; 
        /*width: 20%;
        border: solid;
        border-color: pink;*/
        padding: 2px;
    }
    /*
    main {
        /* margin-top: -10px; 
        margin: 30px 0 0 0;
    } */

    .about-container {
        height: 600px;
    }

    .about-container h1 {
        padding-top: 50px;
        padding-bottom: 20px;
        margin: 0 auto;
    } 

    .about-container p {
        width: 75%;
    }
}