/* MAIN SECTIONS */

main .search-container-results {
    margin: 0 auto;
    width: 90%;
    background-color: whitesmoke;
    text-align: center;
    height: 250px;
    padding-bottom: 80px;
}

main .search-container-results h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
}

label, select {
    margin: 5px;
}

.search-results-container {
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.search-results-container img {
    height: 60px;
    width: 60px;
    border: solid; 
    border-radius: 50%;
}

.search-results-container .result {
    text-align: left;
    padding: 15px 15px 15px 30px;
    border: solid;
    background-color: #ffe433; 
    height: 215px;
}

.search-results-container .noresults-message {
    height: 235px;
}

/* MEDIA QUERY */

@media all and (max-width: 600px) {

    .search-results-container .result {
        text-align: center;
        padding: 15px;
    }
}