/* MAIN */

.signup-form {
    text-align: center;
    height: 580px;
} 

.signup-form h1 {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 50px;
}

.signup-form form {
    background-color: white;
    margin: 0 auto;
    border: solid;
    text-align: right; 
    width: 25%;
    padding: 10px;
}

.signup-form label, .signup-form input {
    margin: 8px;
}

/* MEDIA QUERY FOR IPHONE */

@media all and (max-width: 600px) {
    
    .signup-form form {
        width: 80%;
    }
}